body { background-color: #ffffff; font-family: sans-serif; }

form { border-width: 0; margin: 0; }
blockquote { margin-top: 0; margin-bottom: 0; }
pre { margin-top: 0; margin-bottom: 0; }
input { border-width: 1px; }

hr { border-style: outset; }
hr.thick { height: 10px; background-color: #cccc99; border-color: #cccc99; border-width: 2px; }
hr.short { width: 10em; }

img.logo { float: right; padding: 5px; }
img.mailto { border: 0px; }

@media screen and (max-device-width: 400px) {
    img {
	max-width: 95%;
	height: auto;
    }
}
